# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Model files
*.pkl
*.joblib
*.h5

# Dataset (optional)
data/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env